# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# history
.history

ios
android

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# iOS
*.xcodeproj
*.xcworkspace
*.pbxproj
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
DerivedData/
*.hmap
*.ipa

# React Native
.buck/
.build/
.gradle/
local.properties
*.keystore
!debug.keystore
.cxx/
*.dSYM.zip
*.dSYM
